* {
  box-sizing: border-box; }

/*---------------------mobile------------------------*/
@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between; }
    header .logo {
      max-width: 100px;
      max-height: 100px;
      align-items: center;
      padding-top: 20px; }
    header .nav1, header .form {
      opacity: 0;
      max-height: 100px; }
    header .minisvg {
      display: flex;
      padding: 30px 20px;
      max-height: 100px;
      justify-content: space-between;
      max-width: 100px; }
    header .nav2 {
      display: flex;
      font-weight: bold;
      padding: 10px 10px;
      max-width: 100px;
      max-height: 100px;
      align-items: flex-start; }
      header .nav2 li {
        padding-top: 20px; }
  main {
    width: 100%;
    font-size: .8rem;
    margin-top: 100px; }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; }
    .title .subtitle {
      display: flex;
      justify-content: space-between; }
  .form {
    padding: 50px 15px 20px; }
    .form span {
      color: red; }
    .form input, .form textarea {
      border: 1px solid #999;
      margin-bottom: 30px; }
    .form .btn {
      padding: 10px 30px;
      font-weight: bold; }
  .link {
    padding: 15px;
    /* Get in Touch */ }
    .link .network {
      margin: 10px 0px 30px; }
    .link svg {
      border: 1px solid #999;
      border-radius: 50%;
      padding: 10px;
      width: 40px;
      height: 40px; }
    .link .gt {
      margin: 30px 0px;
      border-bottom: 1px solid #999; }
    .link .info {
      margin: 0; }
  .store {
    padding: 15px;
    /* phone number & email */ }
    .store .info {
      margin: 0; }
    .store h3 {
      margin: 30px 0; }
    .store .pe {
      display: flex; }
      .store .pe div {
        width: 150px; }
  .map {
    margin: 30px 0;
    height: 200px; }
    .map .google {
      height: 100%;
      width: 100%; }
  footer {
    width: 100%; }
    footer section {
      padding: 15px; }
    footer .foot {
      display: flex;
      flex-flow: row wrap;
      border-bottom: 1px solid #999; }
      footer .foot div {
        width: 50%;
        padding: 1px 0 5px 5px; } }

/*----------------------tablette---------------------*/
@media screen and (min-width: 601px) and (max-width: 992px) {
  header {
    display: flex;
    justify-content: space-between; }
    header .logo {
      max-width: 100px;
      max-height: 100px;
      align-items: center;
      padding-top: 20px; }
    header .nav1, header .form {
      opacity: 0;
      max-height: 100px; }
    header .minisvg {
      display: flex;
      padding: 30px 20px;
      max-height: 100px;
      justify-content: space-between; }
      header .minisvg svg {
        margin: 0 10%; }
    header .nav2 {
      display: flex;
      font-weight: bold;
      padding: 10px;
      max-width: 100px;
      max-height: 100px;
      align-items: flex-start; }
      header .nav2 li {
        padding-top: 20px; }
  main {
    width: 100%;
    font-size: .9rem;
    margin-top: 100px; }
    main h3 {
      margin: 30px 0; }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; }
    .title .subtitle {
      display: flex;
      justify-content: space-between; }
  .form {
    padding: 50px 30px 20px;
    /* name & email*/ }
    .form .ne {
      display: flex;
      justify-content: space-between; }
    .form span {
      color: red; }
    .form .name, .form .email {
      width: 47%; }
    .form input, .form textarea {
      border: 1px solid #999;
      margin-bottom: 30px; }
    .form .btn {
      padding: 10px 30px;
      font-weight: bold; }
  .link {
    padding: 30px;
    /* Get in Touch */ }
    .link .network {
      margin: 10px 0px 30px; }
    .link svg {
      border: 1px solid #999;
      border-radius: 50%;
      padding: 10px;
      width: 40px;
      height: 40px;
      margin: 5px; }
    .link .gt {
      margin: 30px 0px;
      padding-bottom: 40px;
      border-bottom: 1px solid #999; }
    .link .info {
      margin: 0; }
  .store {
    padding: 0px 30px;
    /* phone number & email */ }
    .store .info {
      margin: 0; }
    .store .allinfo {
      display: flex; }
    .store .adress {
      max-width: 30%; }
    .store .pe {
      display: flex;
      margin-left: 50px; }
      .store .pe div {
        width: 200px; }
  .map {
    margin: 50px 0 100px;
    height: 400px; }
    .map .google {
      width: 100%; }
  footer {
    width: 100%; }
    footer section {
      padding: 15px; }
    footer .foot {
      display: flex;
      flex-flow: row wrap;
      border-bottom: 1px solid #999; }
      footer .foot div {
        width: 33.33%;
        padding: 1px 0 5px 5px; } }

/*-----------------------desktop---------------------*/
@media screen and (min-width: 993px) {
  header {
    display: flex;
    justify-content: space-between; }
    header .logo {
      max-width: 100px;
      align-items: center;
      padding-top: 20px; }
    header .nav1 {
      display: flex;
      align-items: center; }
      header .nav1 p {
        padding: 0 8px; }
    header .form {
      min-width: 300px;
      padding: 20px 20px; }
    header .minisvg {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header .minisvg svg {
        margin: 0 10px; }
    header .nav2 {
      display: flex;
      font-weight: bold;
      padding: 10px 20px;
      max-width: 150px; }
      header .nav2 li {
        padding-top: 20px; }
  main {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .desk {
      width: 80%;
      display: flex;
      border-bottom: 1px solid #999; }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%; }
    .title .subtitle {
      display: flex;
      justify-content: space-between; }
  .form {
    padding: 50px 30px 20px;
    width: 100%;
    /* name & email*/ }
    .form .ne {
      display: flex;
      justify-content: space-between; }
    .form span {
      color: red; }
    .form .name, .form .email {
      width: 47%; }
    .form input, .form textarea {
      border: 1px solid #999;
      margin-bottom: 30px; }
    .form .btn {
      padding: 10px 30px;
      font-weight: bold; }
  .link {
    width: 40%;
    /* Get in Touch */ }
    .link .network {
      margin: 30px 0px; }
      .link .network svg {
        border: 1px solid #999;
        border-radius: 50%;
        padding: 10px;
        width: 40px;
        height: 40px;
        margin: 5px; }
    .link .gt {
      margin: 30px 0px; }
    .link .info {
      margin: 0; }
  .store {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    /* phone number & email */ }
    .store .info {
      margin: 0; }
    .store .store1, .store .store2, .store .store3 {
      display: flex;
      align-items: center; }
    .store .allinfo {
      display: flex;
      align-items: center;
      width: 100%; }
    .store .adress {
      width: 33%; }
    .store h3 {
      width: 25%;
      margin-right: 15px; }
    .store .pe {
      display: flex;
      width: 66%;
      justify-content: space-around; }
  .map {
    margin: 30px 0;
    width: 100%; }
    .map .google {
      width: 100%;
      height: 600px; }
  footer {
    width: 100% section;
      width-padding: 15px; }
    footer .foot {
      display: flex;
      flex-flow: row;
      border-bottom: 1px solid #999;
      justify-content: center; }
      footer .foot div {
        padding: 0px 50px 5px;
        /* Modif Privacy */ }
    footer .foot2 {
      display: flex;
      justify-content: space-between; } }

/*-----------------------General---------------------*/
header {
  width: 100%; }
  header img {
    width: 100%; }
  header .txtblk {
    color: #222; }
  header .txtgray {
    color: #999; }

main .title {
  background-image: url(../images/contact-images/contact-bg.jpeg);
  background-size: cover; }

main .txtgray {
  color: #999; }

footer .foot {
  font-family: "Roboto", sans-serif; }
  footer .foot h3 {
    color: #222; }
  footer .foot p, footer .foot li {
    color: #999; }

footer .foot2 {
  color: #999;
  font-size: .9rem; }
  footer .foot2 span {
    color: #222;
    font-weight: bold; }
  footer .foot2 .privacy {
    display: inline;
    padding-right: 1em; }

/*# sourceMappingURL=contact.css.map */