* {
  box-sizing: border-box; }

@media only screen and (max-width: 600px) {
  /* Mobiles: */
  .home {
    margin-top: 40px;
    padding-left: 20px; }
  .box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .box .picture {
      display: flex;
      flex-direction: column; }
      .box .picture .pic {
        width: 100%;
        height: 50%;
        padding: 15px; }
      .box .picture .littleimg {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 13px; }
        .box .picture .littleimg img {
          padding: 5px;
          width: 25%; }
  .list .wallet {
    position: absolute;
    top: 2.5rem; }
  .list .cdt {
    position: absolute;
    left: 2.5rem;
    margin-bottom: 10px; }
  .review {
    margin-top: 5%; }
    .review .starp {
      display: flex;
      margin-left: 10px; }
      .review .starp .areview {
        margin: 8px; }
    .review .cdt2 {
      padding-top: 15px;
      font-size: 20px;
      margin-left: 10px; }
    .review .sku {
      margin-left: 10px; }
    .review .prices {
      margin-left: 10px; }
    .review .lorem {
      margin-left: 10px; }
    .review .butclothes {
      margin-left: 40px; }
    .review .so {
      margin-top: 10px; }
    .review .sg {
      margin-top: 10px; }
    .review .butadd {
      margin-left: 35px; }
    .review .butpay {
      margin-left: 35px;
      margin-bottom: 20px;
      width: 108%; }
    .review .littleheart {
      border: none; }
    .review .cate, .review .tags {
      margin-top: 20px;
      padding: 10px; }
      .review .cate .wtajclass, .review .tags .wtajclass {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .review .cate .wtajclass .tagclass, .review .tags .wtajclass .tagclass {
          display: flex;
          flex-direction: row; }
          .review .cate .wtajclass .tagclass .ctw, .review .tags .wtajclass .tagclass .ctw {
            margin-top: 20px;
            padding: 10px; }
    .review .logos {
      margin-top: 5px;
      margin-left: 5px;
      display: flex;
      flex-direction: row; }
      .review .logos .fb {
        padding-left: 10px;
        width: 10%; }
      .review .logos .twitter {
        padding-left: 10px;
        width: 10%; }
      .review .logos .pinterest {
        padding-left: 10px;
        padding-top: 5px;
        width: 10%; }
  .boxp {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column; }
    .boxp .desc {
      text-align: center; }
    .boxp .ai {
      padding: 3px;
      justify-content: center; }
    .boxp .minireview {
      text-align: center; }
  .title1 {
    margin: 30px; }
  .title2 {
    margin: 30px; }
  .plight {
    margin: 30px; }
  .ulli {
    margin: 10px; }
  .intro {
    display: flex;
    flex-direction: column; }
  .pyjama {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px; }
  .rp {
    text-align: center; }
  .as {
    margin: 25px;
    display: flex;
    flex-direction: column;
    width: 100%; } }

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* Tablets: */
  .home {
    margin: 40px; }
  .box {
    display: flex;
    width: 100%; }
  .miniheader {
    display: flex;
    flex-direction: row; }
    .miniheader .list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 40%; }
    .miniheader .wallet {
      margin: 38px; }
    .miniheader .cdt {
      margin: 38px; }
  .picture {
    margin-left: 15px; }
  /*.review{



      }*/ }

@media only screen and (min-width: 993px) {
  /* Desktop: */ }

.home {
  color: #999; }

.box {
  display: flex;
  width: 100%; }

.list {
  padding-right: 1em;
  display: flex;
  flex-flow: row;
  justify-content: center; }

.wallet {
  color: #999;
  padding: 0px 20px 5px; }

.review {
  /* star orange */
  /* star gray */ }
  .review img {
    margin-bottom: 10px; }
  .review .so {
    color: #f68773; }
  .review .sg, .review .price {
    color: #999; }

.areview {
  font-size: small;
  color: #999; }

.cdt2 {
  font-weight: bold;
  color: #222; }

.sku {
  font-size: small;
  color: #999; }

.prices {
  color: #222; }

.cdt {
  color: #222; }

img {
  width: 100%; }

.picture {
  height: auto;
  padding: 5px; }

.littleimg {
  display: flex; }
  .littleimg img {
    width: 25%; }

.littleheart {
  border: #999 1px solid;
  padding: 2px; }

.cate, .tags {
  color: #222;
  font-weight: bold; }

.wtaj, .ctw {
  font-size: small;
  color: #999; }

.logos {
  width: 100%;
  color: #222; }

.lorem {
  color: #999; }

.boxp {
  display: flex;
  justify-content: center; }
  .boxp .desc {
    color: #222;
    font-weight: bold;
    padding-right: 1em; }
  .boxp .ai {
    font-weight: bold;
    display: flex;
    color: #999;
    flex-flow: row;
    padding-left: 2em;
    width: 300px; }
  .boxp .minireview {
    font-weight: bold;
    color: #999;
    flex-flow: row;
    padding-left: 2em;
    justify-content: space-between;
    width: 300px; }

.title1, .title2 {
  color: #222;
  font-weight: bold; }

.plight {
  color: #999; }

.ulli {
  color: #999; }

.pyjama {
  display: flex;
  float: right; }

.rp {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold; }

.as {
  width: 100%;
  max-width: 300px;
  font-size: .8rem;
  /* star orange */
  /* star gray */ }
  .as img {
    margin-bottom: 10px; }
  .as .so {
    color: #f68773; }
  .as .sg, .as .price {
    color: #999; }

/*# sourceMappingURL=product.css.map */