* {
  box-sizing: border-box; }

@media only screen and (max-width: 600px) {
  /* Mobiles: */
  .home {
    margin-top: 40px;
    padding-left: 20px; }
  .box {
    width: 100%;
    display: flex; }
  .list .wallet {
    position: absolute;
    top: 2.5rem; }
  .list .cdt {
    position: absolute;
    left: 2.5rem; }
  .picture {
    margin-top: 10px;
    height: 30%;
    position: absolute;
    right: 7rem; }
  .review {
    margin-top: 50%; }
    .review .areview {
      position: absolute;
      right: 10rem;
      top: 18.7rem;
      margin-left: 5px; }
    .review .cdt2 {
      padding-top: 15px;
      font-size: 20px;
      margin-left: 10px; }
    .review .sku {
      margin-left: 10px; }
    .review .prices {
      margin-left: 10px; }
    .review .lorem {
      margin-left: 10px; }
    .review .butclothes {
      margin-left: 35px; }
    .review .so {
      margin-top: 50px; }
    .review .sg {
      margin-top: 50px; }
    .review .butadd {
      margin-left: 35px; }
    .review .butpay {
      margin-left: 35px; }
    .review .littleheart {
      position: absolute;
      right: 20px;
      bottom: 14px;
      padding: 6px; }
    .review .cate {
      margin-top: 10px;
      padding-left: 5px; }
    .review .wtaj {
      position: absolute;
      right: 1px;
      bottom: -6rem;
      margin-right: 5px; }
    .review .tags {
      margin-top: 10px;
      padding-left: 5px; }
    .review .ctw {
      position: absolute;
      right: 15px;
      bottom: -8rem;
      left: 55px; }
    .review .logos {
      margin-top: 5px; }
      .review .logos .twitter {
        position: absolute;
        width: 6%;
        right: 2rem;
        left: 1rem;
        bottom: -9.3rem; }
  .boxp {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px; }
  .desc {
    margin: 5px;
    left: -10rem; }
  .ai {
    position: absolute;
    bottom: -13rem;
    left: 2.3rem; }
  .minireview {
    position: absolute;
    bottom: -14rem;
    left: 5rem; }
  .title1 {
    margin: 30px; }
  .title2 {
    margin: 30px; }
  .plight {
    margin: 30px; }
  .ulli {
    margin: 10px; }
  .intro {
    display: flex;
    flex-direction: column; }
  .pyjama {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px; }
  .rp {
    text-align: center; }
  .as {
    margin-left: 30%; }
    .as .sglasses {
      width: 200%;
      margin-left: -30px; }
    .as .backpack {
      width: 200%;
      margin-left: -30px; }
    .as .jacket {
      width: 200%;
      margin-left: -30px; }
    .as .suit {
      width: 200%;
      margin-left: -30px; }
    .as .sg {
      margin-left: -2px; } }

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* Tablets: */ }

@media only screen and (min-width: 993px) {
  /* Desktop: */ }

.home {
  color: #999; }

.box {
  display: flex;
  width: 100%; }

.list {
  padding-right: 1em;
  display: flex;
  flex-flow: row;
  justify-content: center; }

.wallet {
  color: #999;
  padding: 0px 20px 5px; }

.review {
  /* star orange */
  /* star gray */ }
  .review img {
    margin-bottom: 10px; }
  .review .so {
    color: #f68773; }
  .review .sg, .review .price {
    color: #999; }

.areview {
  font-size: small;
  color: #999; }

.cdt2 {
  font-weight: bold;
  color: #222; }

.sku {
  font-size: small;
  color: #999; }

.prices {
  color: #222; }

.cdt {
  color: #222; }

img {
  width: 100%; }

.picture {
  width: 40%;
  height: auto;
  padding: 5px; }

.littleimg {
  display: flex; }
  .littleimg img {
    width: 25%; }

.littleheart {
  border: #999 1px solid;
  padding: 2px; }

.cate, .tags {
  color: #222;
  font-weight: bold; }

.wtaj, .ctw {
  font-size: small;
  color: #999; }

.logos {
  width: 3%; }

.lorem {
  color: #999; }

.boxp {
  display: flex;
  flex-flow: row;
  justify-content: center; }
  .boxp .desc {
    color: #222;
    font-weight: bold;
    padding-right: 1em; }
  .boxp .ai {
    font-weight: bold;
    display: flex;
    color: #999;
    flex-flow: row;
    padding-left: 2em;
    justify-content: space-between;
    width: 300px; }
  .boxp .minireview {
    font-weight: bold;
    display: flex;
    color: #999;
    flex-flow: row;
    padding-left: 2em;
    justify-content: space-between;
    width: 300px; }

.title1, .title2 {
  color: #222;
  font-weight: bold; }

.plight {
  color: #999; }

.ulli {
  color: #999; }

.pyjama {
  display: flex;
  float: right; }

.rp {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold; }

.as {
  width: 30%;
  max-width: 300px;
  font-size: .8rem;
  padding-bottom: 30px;
  /* star orange */
  /* star gray */ }
  .as img {
    margin-bottom: 10px; }
  .as .so {
    color: #f68773; }
  .as .sg, .as .price {
    color: #999; }

/*# sourceMappingURL=product.css.map */