@import "variables.scss";
*{
  box-sizing: border-box;
}

main{
  font-family: $font;
}
.gray{
  color:$gray;
}
.SO{
  color: $orange;
}
a:link{
  color:black;
}
a:link.white{
  color:red;
}
.white{
  color:red;
}
h2{
  color:$black;
}
.bold{
  font-weight: bold;
}

/*img{
width: 100%;
} a ajouter pour uqe l'image se redimensionne ne mobile*/
@media only screen and (max-width: 600px) {

  .conteneur {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
  }
  img{
    width:100%;

  }
  .collection{
    display: flex;
  }

  .left{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 50%;
    bottom: 75%;

  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .right{
    position: absolute;
    bottom: 10%;
    right: 5%;
    left:50%;
  }


  .shop1{
    padding-top:20px;
    width:50%;
    img{
      width: 100%;
    }
    margin-left: 10px;
  }
  .shop2{
    padding-top:20px;
    width:70%;
    img{
      width: 100%;
    }
    margin-left: 10px;
  }
.arrival{
  display: flex;
  flex-flow: row wrap;
  width:40%;
  img{width: 100%;}
}
}
@media only screen and (min-width: 601px) and (max-width: 992px) {



}

@media only screen and (min-width: 993px) {



}
