@import "variables.scss";
*{
    box-sizing: border-box;
  }

main{
    font-family: $font;
  }
  .gray{
    color:$gray;
  }
.SO{
  color: $orange;
}
a:link{
  color:black;
}

@media only screen and (max-width: 600px) {



}

@media only screen and (min-width: 601px) and (max-width: 992px) {



}

@media only screen and (min-width: 993px) {



}
