@import "variables.scss";

*{
    box-sizing: border-box;
  }

.home{

  color: $gray;

}

.box{

  display: flex;
  width: 100%;

}

.wallet{

  color: $gray;

}

.cdt{

  color: $black;

}
img{

  width: 100%;

}
.picture{

  width: 40%;
  height: auto;
  padding: 5px;
  

}

.littleimg{
  
  display: flex;

  img{

    width: 25%;

  }

}

.logos{

  width: 5%;

}

.lorem{

  color: $gray;

}
.boxp{

  border-top: $black 1px solid;
  border-bottom: $black 1px solid;

  .desc{

    color: $black;
    font-weight: bold;
  
  }

  .air{

    color: $gray  

  }
}

.title1, .title2{

  color: $black;
  font-weight: bold;
}

.plight{

  color: $gray;

}

.ulli{

  color: $gray;

}

.pyjama{

    width: 30%;
    float: right;
    border: green 1px solid;
    

}


.as{
  width: 30%;
  max-width: 300px;
  font-size: .8rem;
  padding-bottom: 30px;

  img {
    margin-bottom: 10px;
  } 
  /* star orange */
  .so{
    color: $orange;
  }
  /* star gray */
  .sg, .price{
    color: $gray;
  }

}
